body {}

.logo {
  background-color: #EE3643;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 41px;
  padding-right: 41px;
}

.card {
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
}

.card--materials {
  background-color: #FFBF47;
  background-image: url('../img/materials.png');
}

.card--tool {
  background-color: #3BBCE3;
  background-image: url('../img/tool.png');
}

.card--technique {
  background-color: #DC91D8;
  background-image: url('../img/technique.png');
}

.card--discounts {
  background-color: #8ED78F;
  background-image: url('../img/discounts.png');
}

.card--delivery {
  background-color: #FFC047;
  background-image: url('../img/delivery.png');
}

/*------------------Оформление модальных окон----------------*/
/*Карта*/
.map-popup {
  display: flex;

  width: 943px;
  height: 449px;

  /*какой вставлять background-color?*/
  /*какую вырезать карту?*/
  background-image: url('../img/map-popup.png');
  border-top: 7px solid #EE3643;
}

/*Форма обратной связи*/
