/*Подключаем шрифты*/
/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/cuprum-v11-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/cuprum-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/cuprum-v11-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/cuprum-v11-latin_cyrillic-italic.woff') format('woff'),
    /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  /*font-family: 'PT Sans', sans-serif;*/
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: ;
  background-color: ;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  background-color: #EE3643;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 41px;
  padding-right: 41px;
}

.card {
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
}

.card--materials {
  background-color: #FFBF47;
  background-image: url('../img/materials.png');
}

.card--tool {
  background-color: #3BBCE3;
  background-image: url('../img/tool.png');
}

.card--technique {
  background-color: #DC91D8;
  background-image: url('../img/technique.png');
}

.card--discounts {
  background-color: #8ED78F;
  background-image: url('../img/discounts.png');
}

.card--delivery {
  background-color: #FFC047;
  background-image: url('../img/delivery.png');
}

/*Первый слайдер*/
.slide:nth-child(1) {
  width: 620px;
  height: 266px;
  background-image: url('../img/punchers.jpg');
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  width: 620px;
  height: 266px;
  background-image: url('../img/drills.jpg');
  background-repeat: no-repeat;
}

.slide {
  display: none;
}

#button_1:checked~.slides .slide:nth-child(1) {
  display: block;
}

#button_2:checked~.slides .slide:nth-child(2) {
  display: block;
}

/*------------------Оформление модальных окон----------------*/
/*Карта*/
.map-popup {
  display: block;
  width: 943px;
  height: 449px;
  /*какой вставлять background-color?*/
  /*какую вырезать карту?*/
  background-image: url('../img/map-popup.png');
  border-top: 7px solid #EE3643;
}

/*Форма обратной связи*/
.write-us {
  display: block;
}
