body {}

.logo {
  background-color: #EE3643;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 41px;
  padding-right: 41px;
}

.card {
  width: 300px;
  height: 123px;
}

.card:first-child {
  background-color: #FFBF47;
  background-image: url('../img/materials.png');
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  background-color: #3BBCE3;
  background-image: url('../img/tool.png');
  background-repeat: no-repeat;
}

.card:nth-child(3) {
  background-color: #DC91D8;
  background-image: url('../img/technique.png');
  background-repeat: no-repeat;
}

.card:nth-child(4) {
  background-color: #8ED78F;
  background-image: url('../img/discounts.png');
  background-repeat: no-repeat;
}

.card:nth-child(5) {
  background-color: #FFC047;
  background-image: url('../img/delivery.png');
  background-repeat: no-repeat;
}
